<!DOCTYPE html>
<html
  style="padding: 0; margin: 0; width: 100%; height: 100%; color: rgb(39 39 42)"
>
  <head style="padding: 0; margin: 0">
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
      style="padding: 0; margin: 0"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
      style="padding: 0; margin: 0"
    />
  </head>
  <div
    id="body"
    style="
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      color: rgb(39 39 42);
    "
  >
    <div
      id="container"
      style="
        padding: clamp(8px, 20%, 32px);
        width: clamp(50px, 80%, 550px);
        font-family: Roboto, sans-serif;
        font-weight: 400;
      "
    >
      <h1
        id="title"
        style="
          padding: 0;
          margin-bottom: 16px;
          font-family: Poppins, sans-serif;
          font-weight: 600;
          font-size: x-large;
        "
      >
        Troca de senha
      </h1>
      <p style="padding: 0; margin-bottom: 18px">
        Olá {{name}}. Parece que um pedido de mudança de senha foi solicitado nesta conta. Para realizar a troca de senha é necessário clicar neste <a href={{link}}>link</a> e inserir uma nova senha.
      </p>
      <p id="warn" style="padding: 0; margin-bottom: 16px; color: rgb(234, 40, 40)">
        AVISO: não compartilhe este link com ninguém.
      </p>
      <p style="padding: 0; margin-top: 16px">
        Não foi você quem solicitou esta troca? Não se preocupe, apenas ignore este
        e-mail.
      </p>
    </div>
  </div>
</html>
